* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: sans-serif;
}

*:focus {
  outline: none;
}

:root {
  --textBox: #E9E9E9;
  --white: #FFFFFF;
  --green: #006200;
  --black: #000000;
}

::placeholder {
  color: #000;
  opacity: 1;
}

body {
  background-color: #EFEFEF;
}

main {
  min-height: calc(100vh - 192px);
  margin-bottom: 20px;
}